__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/

*.egg-info/
.eggs/
dist/
build/

.mypy_cache/
.pytest_cache/
.ruff_cache/

loot/
*.ccache
*.kirbi
state.json
*_state.json

.vscode/
.idea/
*.swp
*.swo
.DS_Store

.env
.adenumrc
